$color-black: #000000;
$color-white: #FFFFFF;
$color-light-grey: #EDEDED;
$color-medium-grey: #D5D5D5;
$color-dark-grey: #6F6F6F;
$color-red: #C40000;

$navbar-height: 4em;
$channel-header-height: 20em;

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: large;
}

input {
    font-size: medium;
}

select {
    font-family: Helvetica, sans-serif;
    font-size: medium;
}

h1 {
    padding: 1em 1em 0.5em 1em;
    font-size: xx-large;
    font-weight: bold;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

h6 {
    font-size: x-small;
}